@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
// [role="banner"] {
//   > h2 {
    
//   }
// }
.summary {
  @include atoms.uppercase($text-dark);
  padding: .25% 0;
  p:last-child {
    @include atoms.divider;
  }
}
// .preamble {
//   background: rgba(255, 255, 255, 0.9);
//   color: $text-dark;
//   margin-left: -30%;
//   padding: 5% 5% 5% 30%;
// }

.preamble {
  p:last-child {
    @include atoms.bottom-divider;
  }
}

.explanation {
  p:last-child {
    @include atoms.bottom-divider;
  }
}

.participation {
  p:last-child {
    @include atoms.bottom-divider;
  }
}

.benefits {
  p:last-child {
    @include atoms.bottom-divider;
  }
}

.requirements {
  @include atoms.bottom-divider;
}

body::after {
  content: url(svg-assets/mountains-optimized.svg);
  width: 180%;
  position: fixed;
  bottom: 20px;
  left: -200px;
  z-index: -3;
  @media screen and (min-width: $small) {
    width: 130%;
    left: -50px;
    bottom: 15px;
  }
  @media screen and (min-width: $medium) {
    width: 110%;    
    left: -50px;
    bottom: 30px;
    max-height: 20%;
  }
  @media screen and (min-width: $large) {
    width: 110%;
    left: -20px;
    bottom: 80px;
    max-height: 20%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 12%;
  .design-selection {
    @include atoms.uppercase($text-dark);
    padding-bottom: 4%;
    @include atoms.bottom-divider;
    grid-area: 1 / 1 / 3 / 3;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    .select {
      justify-self: center;
      padding-bottom: 0;
    }
    nav ul {
      display: grid;
      padding-left: 0;
      li {
        list-style-type: none;
        padding: 3px 0;
        justify-self: center;
        :first-child {
          padding-top: 0;
        }
      }
    }
  }
  .design-archives {
    @include atoms.uppercase($text-dark);
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    .archives {
      justify-self: center;
      padding-bottom: 0;
    }
    nav {
      display: grid;
      align-items: start;
      align-self: start;
      ul {
        display: grid;
        padding-left: 0;
        align-self: start;
        align-items: start;
        li {
          list-style-type: none;
          padding: 3px 0;
          justify-self: center;
          align-self: start;
          :first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
  .zen-resources {
    @include atoms.uppercase($text-dark);
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    .resources {
      justify-self: center;
      padding-bottom: 0;
    }
    ul {
      display: grid;
      padding-left: 0;
      align-self: start;
      align-items: start;
      li {
        list-style-type: none;
        padding: 3px 0;
        justify-self: center;
        align-self: start;
        :first-child {
          padding-top: 0;
        }
      }
    }
  }
  @media screen and (min-width: $medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
    height: 80%;
    column-gap: 5px;
    .design-selection {
      grid-column: 2 / span 2;
      border: none;
    }
    .design-archives {
      grid-area: 1 / 1 / 2 / 1;
    }
    .zen-resources {
      grid-area: 1 / 4 / 2 / 4;
    }
  }
  @media screen and (min-width: $large) {
    padding-bottom: 0
  }
}

// animation for star effect - inspired by https://codepen.io/sobhandash/pen/ExmOPEz
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px);
  }
}


footer::after {
  content: url(svg-assets/trees-optimized.svg);
  width: 190%;
  position: fixed;
  bottom: -15px;
  left: -200px;
  z-index: 1;
  @media screen and (min-width: $small) {
    width: 130%;
    left: -20px;
  }
  @media screen and (min-width: $medium) {
    width: 110%;    
    left: -20px;
    bottom: -25px;
    max-height: 20%;
  }
  @media screen and (min-width: $large) {
    width: 110%;
    left: -20px;
    bottom: -40px;
    max-height: 20%;
  }
}

footer {
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 85%;
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  @media (min-width: $small) {
    font-size: 1.25em;
  }
  @media only screen and (min-width: $medium) {
    font-size: 1.5em;
  }
}

footer a {
  color: $primary;
  z-index: 6;
  align-self: center;
  justify-self: center;
}

