$fonts-headline: 'Bitter', serif;
$fonts-body: 'Roboto Condensed', sans-serif;
$background-color: #DDA15E;
$primary: rgb(255, 252, 236);
$primary-faded: rgba(255, 252, 236, .55);
$accent1: #606C38;
$accent2: #003724;
$accent3: #161A2C;
$accent4: #FD746C;
$accent5: #3f5973;
$text-dark: #333;
$text-light: #fff;

$small: 400px;
$medium: 800px;
$large: 1200px;

// For star effect
$starFieldWidth: 2560;
$starFieldHeight: 2560;
$starStartOffset: 600px;
$numStarTwoStars: 1000;
$numStarThreeStars: 300;
$starTwoScrollDuration: 125s;
$starThreeScrollDuration: 175s;