@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Roboto+Condensed&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Bitter", serif;
  margin: 0;
}

h1 {
  color: #003724;
  font-weight: 600; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h2 {
  color: #003724;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
  font-size: 1.1em;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #606C38;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  padding: 0.25% 0;
}
.summary p:last-child {
  border-top: 2px solid #606C38;
  margin-top: 0.3em;
}

.preamble p:last-child {
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
}

.supporting {
  display: grid;
}
@media screen and (min-width: 800px) {
  .supporting {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.explanation p:last-child {
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
  .explanation {
    grid-column: 1/4;
  }
}

.participation p:last-child {
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
  .participation {
    grid-column: 1/3;
  }
  .participation p {
    padding-right: 10px;
  }
}

.benefits p:last-child {
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
  .benefits {
    grid-column: 3/4;
    margin-bottom: 1.1em;
    border-left: 2px solid #606C38;
    border-bottom: 2px solid #606C38;
    padding-left: 10px;
  }
  .benefits p:last-child {
    border: none;
    margin: 0;
  }
}

.requirements {
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
  .requirements {
    grid-column: 1/4;
  }
}

body::after {
  content: url(svg-assets/mountains-optimized.svg);
  width: 180%;
  position: fixed;
  bottom: 20px;
  left: -200px;
  z-index: -3;
}
@media screen and (min-width: 400px) {
  body::after {
    width: 130%;
    left: -50px;
    bottom: 15px;
  }
}
@media screen and (min-width: 800px) {
  body::after {
    width: 110%;
    left: -50px;
    bottom: 30px;
    max-height: 20%;
  }
}
@media screen and (min-width: 1200px) {
  body::after {
    width: 110%;
    left: -20px;
    bottom: 80px;
    max-height: 20%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 12%;
}
.wrapper .design-selection {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 4%;
  border-bottom: 2px solid #606C38;
  margin-bottom: 1em;
  grid-area: 1/1/3/3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper .design-selection .select {
  justify-self: center;
  padding-bottom: 0;
}
.wrapper .design-selection nav ul {
  display: grid;
  padding-left: 0;
}
.wrapper .design-selection nav ul li {
  list-style-type: none;
  padding: 3px 0;
  justify-self: center;
}
.wrapper .design-selection nav ul li :first-child {
  padding-top: 0;
}
.wrapper .design-archives {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper .design-archives .archives {
  justify-self: center;
  padding-bottom: 0;
}
.wrapper .design-archives nav {
  display: grid;
  align-items: start;
  align-self: start;
}
.wrapper .design-archives nav ul {
  display: grid;
  padding-left: 0;
  align-self: start;
  align-items: start;
}
.wrapper .design-archives nav ul li {
  list-style-type: none;
  padding: 3px 0;
  justify-self: center;
  align-self: start;
}
.wrapper .design-archives nav ul li :first-child {
  padding-top: 0;
}
.wrapper .zen-resources {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper .zen-resources .resources {
  justify-self: center;
  padding-bottom: 0;
}
.wrapper .zen-resources ul {
  display: grid;
  padding-left: 0;
  align-self: start;
  align-items: start;
}
.wrapper .zen-resources ul li {
  list-style-type: none;
  padding: 3px 0;
  justify-self: center;
  align-self: start;
}
.wrapper .zen-resources ul li :first-child {
  padding-top: 0;
}
@media screen and (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
    height: 80%;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .wrapper .design-selection {
    grid-column: 2/span 2;
    border: none;
  }
  .wrapper .design-archives {
    grid-area: 1/1/2/1;
  }
  .wrapper .zen-resources {
    grid-area: 1/4/2/4;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding-bottom: 0;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px) translateX(-2560px);
  }
}
footer::after {
  content: url(svg-assets/trees-optimized.svg);
  width: 190%;
  position: fixed;
  bottom: -15px;
  left: -200px;
  z-index: 1;
}
@media screen and (min-width: 400px) {
  footer::after {
    width: 130%;
    left: -20px;
  }
}
@media screen and (min-width: 800px) {
  footer::after {
    width: 110%;
    left: -20px;
    bottom: -25px;
    max-height: 20%;
  }
}
@media screen and (min-width: 1200px) {
  footer::after {
    width: 110%;
    left: -20px;
    bottom: -40px;
    max-height: 20%;
  }
}

footer {
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 85%;
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
}
@media (min-width: 400px) {
  footer {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 800px) {
  footer {
    font-size: 1.5em;
  }
}

footer a {
  color: rgb(255, 252, 236);
  z-index: 6;
  align-self: center;
  justify-self: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  background-color: #161A2C;
  background-image: url(svg-assets/night-background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  background-image: linear-gradient(#FD746C, transparent 90%);
  background-size: 100%;
  mix-blend-mode: difference;
  padding: 5%;
  margin: 0;
}

.page-wrapper {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 85%;
  background-color: rgba(255, 252, 236, 0.65);
  margin: 0;
  padding: 1em;
  display: grid;
  position: relative;
  z-index: 3;
}
.page-wrapper::before {
  content: "";
  z-index: -10;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 2421px 2113px #FFF , 2452px 743px #FFF , 577px 2191px #FFF , 756px 1418px #FFF , 2359px 1416px #FFF , 2327px 1187px #FFF , 344px 2532px #FFF , 206px 743px #FFF , 1901px 99px #FFF , 1516px 2362px #FFF , 2192px 1234px #FFF , 1822px 767px #FFF , 1309px 1183px #FFF , 82px 736px #FFF , 2553px 2429px #FFF , 1577px 860px #FFF , 742px 1162px #FFF , 1546px 2517px #FFF , 493px 1819px #FFF , 1302px 1489px #FFF , 147px 2090px #FFF , 1332px 2019px #FFF , 1343px 1376px #FFF , 99px 465px #FFF , 512px 2470px #FFF , 1936px 1517px #FFF , 125px 807px #FFF , 2174px 986px #FFF , 347px 1167px #FFF , 1287px 1216px #FFF , 2138px 1303px #FFF , 703px 809px #FFF , 953px 637px #FFF , 1533px 2404px #FFF , 907px 982px #FFF , 2264px 1769px #FFF , 1302px 1116px #FFF , 237px 1926px #FFF , 1513px 2195px #FFF , 279px 744px #FFF , 513px 2353px #FFF , 643px 556px #FFF , 2131px 2045px #FFF , 188px 310px #FFF , 609px 510px #FFF , 495px 1175px #FFF , 174px 398px #FFF , 506px 674px #FFF , 193px 2035px #FFF , 1801px 2510px #FFF , 1790px 259px #FFF , 754px 1907px #FFF , 1891px 2505px #FFF , 1475px 1882px #FFF , 1911px 707px #FFF , 1926px 800px #FFF , 1428px 1663px #FFF , 806px 1039px #FFF , 1062px 2240px #FFF , 254px 2548px #FFF , 1199px 1064px #FFF , 1741px 1077px #FFF , 2065px 665px #FFF , 1519px 667px #FFF , 2381px 2250px #FFF , 675px 2082px #FFF , 2433px 1838px #FFF , 121px 2274px #FFF , 2192px 720px #FFF , 2236px 636px #FFF , 1116px 2050px #FFF , 1146px 2010px #FFF , 1747px 1145px #FFF , 1581px 1951px #FFF , 1293px 130px #FFF , 1963px 90px #FFF , 2306px 793px #FFF , 300px 938px #FFF , 2060px 1689px #FFF , 907px 427px #FFF , 542px 2366px #FFF , 1939px 475px #FFF , 2182px 1166px #FFF , 1026px 2349px #FFF , 3px 1038px #FFF , 1357px 394px #FFF , 370px 1877px #FFF , 997px 852px #FFF , 1827px 1664px #FFF , 2090px 953px #FFF , 60px 2123px #FFF , 910px 1861px #FFF , 2020px 891px #FFF , 2303px 117px #FFF , 182px 855px #FFF , 405px 1993px #FFF , 1462px 1637px #FFF , 989px 269px #FFF , 2116px 1067px #FFF , 128px 2440px #FFF , 712px 2224px #FFF , 785px 555px #FFF , 1476px 2517px #FFF , 2258px 2072px #FFF , 2201px 11px #FFF , 1116px 2486px #FFF , 24px 2454px #FFF , 1050px 154px #FFF , 1442px 610px #FFF , 55px 344px #FFF , 232px 202px #FFF , 1495px 2008px #FFF , 5px 1863px #FFF , 110px 1310px #FFF , 2236px 639px #FFF , 1137px 2015px #FFF , 2460px 264px #FFF , 1536px 830px #FFF , 2409px 803px #FFF , 975px 2510px #FFF , 2322px 17px #FFF , 298px 219px #FFF , 427px 1616px #FFF , 834px 752px #FFF , 1151px 1533px #FFF , 549px 2450px #FFF , 649px 234px #FFF , 473px 1297px #FFF , 1596px 1654px #FFF , 1663px 624px #FFF , 2214px 1576px #FFF , 2359px 1487px #FFF , 2357px 642px #FFF , 2115px 1050px #FFF , 2px 2036px #FFF , 247px 1415px #FFF , 376px 981px #FFF , 2223px 1857px #FFF , 1709px 1418px #FFF , 973px 404px #FFF , 143px 1239px #FFF , 550px 970px #FFF , 2368px 1106px #FFF , 1855px 1256px #FFF , 168px 1949px #FFF , 2158px 2510px #FFF , 119px 1607px #FFF , 1745px 12px #FFF , 564px 2553px #FFF , 632px 460px #FFF , 1590px 1862px #FFF , 1406px 1502px #FFF , 1751px 1486px #FFF , 1512px 1767px #FFF , 702px 2158px #FFF , 1851px 244px #FFF , 716px 784px #FFF , 2377px 2218px #FFF , 1229px 2488px #FFF , 1299px 777px #FFF , 2001px 673px #FFF , 544px 1191px #FFF , 1450px 2250px #FFF , 2398px 2386px #FFF , 1113px 346px #FFF , 355px 888px #FFF , 1368px 228px #FFF , 1975px 493px #FFF , 2479px 1705px #FFF , 304px 1234px #FFF , 841px 1902px #FFF , 2278px 2281px #FFF , 79px 1460px #FFF , 1326px 720px #FFF , 2335px 144px #FFF , 1335px 1114px #FFF , 2262px 1433px #FFF , 1952px 379px #FFF , 1269px 2523px #FFF , 2233px 1413px #FFF , 293px 766px #FFF , 214px 1499px #FFF , 88px 1740px #FFF , 2446px 1384px #FFF , 1208px 787px #FFF , 1560px 725px #FFF , 581px 2328px #FFF , 1982px 1576px #FFF , 883px 488px #FFF , 1581px 958px #FFF , 1205px 358px #FFF , 231px 1152px #FFF , 206px 2167px #FFF , 682px 1567px #FFF , 1211px 1208px #FFF , 1794px 1739px #FFF , 232px 278px #FFF , 6px 202px #FFF , 217px 1640px #FFF , 1096px 114px #FFF;
  animation: animStar 175s linear infinite;
}
.page-wrapper::before:after {
  content: " ";
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 2092px 604px #FFF , 799px 747px #FFF , 1912px 1899px #FFF , 1673px 1201px #FFF , 1805px 303px #FFF , 2506px 1110px #FFF , 1273px 2508px #FFF , 1234px 2521px #FFF , 332px 44px #FFF , 2081px 2296px #FFF , 632px 1119px #FFF , 63px 637px #FFF , 1270px 1384px #FFF , 1740px 2426px #FFF , 1266px 2097px #FFF , 67px 1847px #FFF , 2007px 1627px #FFF , 1607px 1326px #FFF , 551px 1798px #FFF , 1605px 37px #FFF , 2534px 2413px #FFF , 1990px 2311px #FFF , 871px 2462px #FFF , 1240px 1658px #FFF , 1381px 725px #FFF , 674px 1291px #FFF , 702px 2360px #FFF , 792px 1099px #FFF , 1818px 1832px #FFF , 1887px 2261px #FFF , 1336px 969px #FFF , 2180px 1956px #FFF , 1229px 2343px #FFF , 1983px 1946px #FFF , 635px 2354px #FFF , 2554px 1216px #FFF , 1402px 1349px #FFF , 556px 2333px #FFF , 965px 1150px #FFF , 933px 690px #FFF , 915px 2252px #FFF , 148px 115px #FFF , 1101px 2460px #FFF , 581px 2277px #FFF , 631px 317px #FFF , 2159px 1053px #FFF , 2203px 2451px #FFF , 1958px 2387px #FFF , 573px 1542px #FFF , 647px 1036px #FFF , 1520px 1456px #FFF , 851px 2256px #FFF , 553px 219px #FFF , 33px 1415px #FFF , 1125px 1862px #FFF , 797px 1255px #FFF , 1188px 292px #FFF , 1432px 274px #FFF , 1955px 297px #FFF , 1726px 698px #FFF , 1166px 1818px #FFF , 2252px 858px #FFF , 1483px 2548px #FFF , 2545px 1733px #FFF , 1663px 21px #FFF , 1185px 1142px #FFF , 2319px 1791px #FFF , 2531px 1070px #FFF , 900px 625px #FFF , 2003px 1683px #FFF , 1372px 2552px #FFF , 154px 2551px #FFF , 914px 11px #FFF , 1680px 436px #FFF , 2372px 73px #FFF , 566px 1427px #FFF , 968px 1551px #FFF , 839px 1668px #FFF , 1371px 537px #FFF , 1214px 2315px #FFF , 2500px 469px #FFF , 371px 1502px #FFF , 1945px 1118px #FFF , 1339px 1059px #FFF , 973px 2095px #FFF , 294px 1159px #FFF , 1892px 717px #FFF , 1663px 896px #FFF , 768px 1971px #FFF , 1404px 1197px #FFF , 530px 2192px #FFF , 1887px 2385px #FFF , 2155px 269px #FFF , 265px 1383px #FFF , 1852px 1740px #FFF , 162px 916px #FFF , 1263px 1509px #FFF , 656px 1040px #FFF , 1471px 2473px #FFF , 977px 2017px #FFF , 304px 650px #FFF , 1422px 2251px #FFF , 1610px 1525px #FFF , 963px 802px #FFF , 2181px 1197px #FFF , 2448px 26px #FFF , 2391px 2217px #FFF , 1939px 1541px #FFF , 1235px 1602px #FFF , 1042px 1237px #FFF , 387px 2365px #FFF , 1584px 2316px #FFF , 66px 918px #FFF , 2210px 2104px #FFF , 546px 1895px #FFF , 2077px 881px #FFF , 2443px 1765px #FFF , 653px 736px #FFF , 1923px 313px #FFF , 1754px 715px #FFF , 1454px 2418px #FFF , 2180px 762px #FFF , 950px 1168px #FFF , 2529px 1924px #FFF , 1026px 959px #FFF , 2533px 1011px #FFF , 2021px 2486px #FFF , 2515px 1123px #FFF , 1818px 116px #FFF , 123px 2313px #FFF , 1332px 897px #FFF , 2429px 390px #FFF , 1114px 743px #FFF , 25px 986px #FFF , 1281px 130px #FFF , 1910px 2271px #FFF , 1452px 113px #FFF , 344px 2222px #FFF , 1776px 2531px #FFF , 1613px 1665px #FFF , 741px 545px #FFF , 710px 633px #FFF , 1303px 255px #FFF , 922px 415px #FFF , 183px 120px #FFF , 2260px 2393px #FFF , 1270px 20px #FFF , 1457px 238px #FFF , 472px 1119px #FFF , 1336px 1896px #FFF , 1260px 2252px #FFF , 630px 1086px #FFF , 82px 133px #FFF , 1738px 2422px #FFF , 410px 1524px #FFF , 1133px 2191px #FFF , 1046px 141px #FFF , 1963px 40px #FFF , 2417px 1352px #FFF , 1058px 75px #FFF , 2217px 2063px #FFF , 38px 1611px #FFF , 617px 749px #FFF , 851px 2111px #FFF , 1767px 1461px #FFF , 2550px 65px #FFF , 1241px 706px #FFF , 2414px 1084px #FFF , 2223px 2205px #FFF , 1447px 615px #FFF , 1090px 152px #FFF , 1131px 2349px #FFF , 1624px 668px #FFF , 1382px 1025px #FFF , 1326px 1480px #FFF , 1695px 1085px #FFF , 737px 716px #FFF , 885px 2461px #FFF , 261px 1039px #FFF , 360px 731px #FFF , 1127px 247px #FFF , 1635px 1948px #FFF , 2001px 1671px #FFF , 273px 687px #FFF , 441px 372px #FFF , 1758px 764px #FFF , 929px 2003px #FFF , 174px 1207px #FFF , 1166px 2425px #FFF , 334px 1013px #FFF , 1067px 710px #FFF , 138px 534px #FFF , 299px 2427px #FFF , 2215px 1638px #FFF , 2359px 720px #FFF , 484px 424px #FFF , 849px 473px #FFF , 1936px 1979px #FFF , 337px 1374px #FFF , 1618px 1106px #FFF;
}
.page-wrapper::after {
  content: "";
  z-index: -10;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1548px 283px #FFF , 710px 1662px #FFF , 2144px 1244px #FFF , 848px 606px #FFF , 1618px 843px #FFF , 1923px 2187px #FFF , 686px 113px #FFF , 1567px 545px #FFF , 692px 2100px #FFF , 1313px 1636px #FFF , 1886px 1434px #FFF , 1620px 1024px #FFF , 1488px 152px #FFF , 1154px 1810px #FFF , 1741px 1494px #FFF , 2489px 1236px #FFF , 1162px 1300px #FFF , 1782px 515px #FFF , 860px 932px #FFF , 1622px 1459px #FFF , 2474px 2322px #FFF , 2519px 92px #FFF , 495px 1923px #FFF , 2269px 2023px #FFF , 1689px 2225px #FFF , 23px 1587px #FFF , 921px 403px #FFF , 2269px 1306px #FFF , 1315px 949px #FFF , 1739px 362px #FFF , 819px 116px #FFF , 1215px 1926px #FFF , 984px 676px #FFF , 817px 257px #FFF , 1605px 1678px #FFF , 2129px 69px #FFF , 2209px 281px #FFF , 542px 408px #FFF , 257px 423px #FFF , 2487px 112px #FFF , 1712px 249px #FFF , 2319px 1050px #FFF , 1984px 1346px #FFF , 326px 1385px #FFF , 2437px 209px #FFF , 1949px 561px #FFF , 877px 2447px #FFF , 1832px 2120px #FFF , 1450px 1448px #FFF , 149px 1796px #FFF , 967px 2237px #FFF , 1897px 1245px #FFF , 2300px 2325px #FFF , 198px 38px #FFF , 1911px 60px #FFF , 831px 2521px #FFF , 2317px 230px #FFF , 420px 1807px #FFF , 2428px 2013px #FFF , 980px 1060px #FFF , 573px 281px #FFF , 2224px 2411px #FFF , 2534px 2232px #FFF , 978px 2175px #FFF , 89px 2126px #FFF , 1049px 180px #FFF , 2348px 2405px #FFF , 827px 1193px #FFF , 1618px 2199px #FFF , 1565px 2181px #FFF , 2002px 506px #FFF , 716px 103px #FFF , 865px 419px #FFF , 1986px 2532px #FFF , 80px 1948px #FFF , 417px 2345px #FFF , 145px 2189px #FFF , 946px 146px #FFF , 1476px 938px #FFF , 934px 1860px #FFF , 662px 709px #FFF , 1840px 1541px #FFF , 1302px 2066px #FFF , 527px 1729px #FFF , 1969px 516px #FFF , 1294px 108px #FFF , 294px 1989px #FFF , 49px 1797px #FFF , 1406px 2258px #FFF , 9px 366px #FFF , 1320px 989px #FFF , 110px 1298px #FFF , 2269px 1365px #FFF , 1559px 175px #FFF , 2071px 1657px #FFF , 2327px 800px #FFF , 1739px 1811px #FFF , 1687px 2206px #FFF , 1381px 187px #FFF , 2414px 1521px #FFF , 2087px 1505px #FFF , 1591px 478px #FFF , 1139px 2144px #FFF , 2440px 1663px #FFF , 1205px 1390px #FFF , 482px 721px #FFF , 1358px 1349px #FFF , 2316px 1690px #FFF , 2409px 1284px #FFF , 1000px 1902px #FFF , 1032px 2266px #FFF , 1264px 1121px #FFF , 2290px 735px #FFF , 1954px 1441px #FFF , 1030px 1495px #FFF , 831px 2085px #FFF , 1209px 2443px #FFF , 570px 1283px #FFF , 1785px 554px #FFF , 2474px 963px #FFF , 10px 1995px #FFF , 817px 419px #FFF , 2324px 284px #FFF , 1510px 286px #FFF , 1770px 1551px #FFF , 5px 386px #FFF , 868px 840px #FFF , 2333px 2041px #FFF , 1036px 1717px #FFF , 783px 2080px #FFF , 810px 1144px #FFF , 1184px 573px #FFF , 2330px 2358px #FFF , 964px 372px #FFF , 342px 1223px #FFF , 131px 623px #FFF , 2249px 332px #FFF , 1878px 2364px #FFF , 1084px 987px #FFF , 602px 905px #FFF , 572px 285px #FFF , 1741px 1688px #FFF , 667px 2485px #FFF , 1481px 1877px #FFF , 2318px 235px #FFF , 640px 964px #FFF , 199px 978px #FFF , 2362px 1094px #FFF , 134px 2328px #FFF , 1699px 1167px #FFF , 1026px 2424px #FFF , 1677px 1758px #FFF , 959px 135px #FFF , 743px 2413px #FFF , 2554px 372px #FFF , 218px 678px #FFF , 1597px 2103px #FFF , 2043px 1622px #FFF , 360px 1062px #FFF , 2505px 238px #FFF , 1932px 2021px #FFF , 1649px 1953px #FFF , 410px 662px #FFF , 223px 166px #FFF , 580px 110px #FFF , 2436px 351px #FFF , 285px 1604px #FFF , 1288px 290px #FFF , 2511px 509px #FFF , 345px 2215px #FFF , 63px 1132px #FFF , 1918px 228px #FFF , 1656px 2236px #FFF , 1651px 1479px #FFF , 2079px 747px #FFF , 1757px 648px #FFF , 2299px 1925px #FFF , 214px 1344px #FFF , 2315px 1755px #FFF , 76px 2511px #FFF , 2131px 1791px #FFF , 1152px 1434px #FFF , 1485px 2273px #FFF , 2138px 1730px #FFF , 1333px 149px #FFF , 825px 492px #FFF , 1418px 2550px #FFF , 595px 1647px #FFF , 1779px 1391px #FFF , 961px 138px #FFF , 320px 896px #FFF , 1274px 1890px #FFF , 666px 427px #FFF , 1755px 468px #FFF , 207px 13px #FFF , 630px 2385px #FFF , 2316px 255px #FFF , 1565px 2469px #FFF , 1208px 1819px #FFF , 1945px 486px #FFF , 1789px 249px #FFF , 1972px 286px #FFF , 2214px 1642px #FFF , 2300px 1784px #FFF , 1216px 1675px #FFF , 2487px 1509px #FFF , 1364px 2006px #FFF , 2400px 236px #FFF , 893px 1604px #FFF , 2404px 763px #FFF , 1029px 1513px #FFF , 166px 2153px #FFF , 2480px 811px #FFF , 2032px 1486px #FFF , 2527px 106px #FFF , 269px 598px #FFF , 42px 536px #FFF , 1414px 1074px #FFF , 136px 2359px #FFF , 2525px 599px #FFF , 842px 253px #FFF , 715px 1051px #FFF , 2417px 1762px #FFF , 1295px 245px #FFF , 264px 1302px #FFF , 2160px 1855px #FFF , 81px 780px #FFF , 638px 1410px #FFF , 1122px 475px #FFF , 539px 2222px #FFF , 328px 1658px #FFF , 2284px 2199px #FFF , 1945px 902px #FFF , 262px 843px #FFF , 2096px 1938px #FFF , 558px 2490px #FFF , 374px 336px #FFF , 2199px 755px #FFF , 775px 901px #FFF , 2027px 2343px #FFF , 1958px 2276px #FFF , 474px 1719px #FFF , 2459px 1588px #FFF , 1016px 870px #FFF , 1200px 2489px #FFF , 2133px 2400px #FFF , 526px 1540px #FFF , 2145px 1074px #FFF , 893px 2119px #FFF , 1945px 499px #FFF , 1641px 73px #FFF , 1592px 163px #FFF , 2069px 2233px #FFF , 528px 1253px #FFF , 2440px 176px #FFF , 1617px 2390px #FFF , 25px 628px #FFF , 1886px 2123px #FFF , 2451px 549px #FFF , 1881px 2441px #FFF , 2px 547px #FFF , 2192px 1211px #FFF , 1048px 1972px #FFF , 90px 2276px #FFF , 1352px 1368px #FFF , 1701px 1729px #FFF , 1819px 112px #FFF , 860px 265px #FFF , 1177px 2015px #FFF , 665px 1513px #FFF , 1375px 404px #FFF , 1708px 1040px #FFF , 1728px 1672px #FFF , 749px 2478px #FFF , 534px 2494px #FFF , 46px 2365px #FFF , 333px 2270px #FFF , 1580px 1325px #FFF , 1957px 1469px #FFF , 1259px 505px #FFF , 21px 135px #FFF , 1228px 1940px #FFF , 2451px 1712px #FFF , 961px 2050px #FFF , 62px 1460px #FFF , 415px 1494px #FFF , 1309px 1003px #FFF , 1480px 694px #FFF , 888px 613px #FFF , 1219px 2471px #FFF , 2257px 1296px #FFF , 547px 1704px #FFF , 2559px 1082px #FFF , 637px 259px #FFF , 2460px 1018px #FFF , 861px 897px #FFF , 721px 234px #FFF , 974px 863px #FFF , 848px 1355px #FFF , 371px 2484px #FFF , 1202px 2302px #FFF , 1546px 1339px #FFF , 2290px 135px #FFF , 1669px 147px #FFF , 2054px 180px #FFF , 1661px 1841px #FFF , 395px 1004px #FFF , 186px 557px #FFF , 1515px 1247px #FFF , 2125px 1051px #FFF , 867px 2378px #FFF , 1928px 1126px #FFF , 513px 292px #FFF , 2391px 2073px #FFF , 292px 1693px #FFF , 961px 634px #FFF , 1296px 1582px #FFF , 602px 72px #FFF , 1569px 881px #FFF , 2493px 2079px #FFF , 1641px 143px #FFF , 609px 363px #FFF , 1236px 840px #FFF , 2538px 2364px #FFF , 1235px 162px #FFF , 446px 865px #FFF , 1921px 1400px #FFF , 1483px 1112px #FFF , 1322px 311px #FFF , 2000px 250px #FFF , 1860px 1223px #FFF , 1380px 1619px #FFF , 1480px 694px #FFF , 2544px 145px #FFF , 562px 728px #FFF , 651px 587px #FFF , 1668px 2529px #FFF , 652px 112px #FFF , 2448px 297px #FFF , 508px 837px #FFF , 2520px 16px #FFF , 1856px 2229px #FFF , 989px 1368px #FFF , 989px 1313px #FFF , 1844px 2317px #FFF , 583px 211px #FFF , 731px 1781px #FFF , 113px 1754px #FFF , 1396px 1407px #FFF , 1313px 2098px #FFF , 1238px 633px #FFF , 1521px 2396px #FFF , 503px 1947px #FFF , 2219px 1282px #FFF , 565px 827px #FFF , 2029px 1063px #FFF , 965px 1181px #FFF , 240px 2028px #FFF , 71px 664px #FFF , 1418px 1335px #FFF , 2041px 954px #FFF , 1274px 2512px #FFF , 787px 2227px #FFF , 1701px 796px #FFF , 382px 1624px #FFF , 2560px 1089px #FFF , 860px 309px #FFF , 1767px 447px #FFF , 2396px 1914px #FFF , 508px 1617px #FFF , 1168px 1529px #FFF , 1586px 667px #FFF , 1418px 1585px #FFF , 2409px 85px #FFF , 1517px 949px #FFF , 326px 1844px #FFF , 1263px 1183px #FFF , 952px 982px #FFF , 367px 984px #FFF , 1619px 2553px #FFF , 1156px 162px #FFF , 2443px 681px #FFF , 1238px 1009px #FFF , 302px 551px #FFF , 2384px 30px #FFF , 1942px 1934px #FFF , 1137px 1028px #FFF , 788px 2260px #FFF , 1263px 701px #FFF , 893px 1287px #FFF , 1616px 1111px #FFF , 106px 1248px #FFF , 2286px 1356px #FFF , 1402px 332px #FFF , 1462px 1959px #FFF , 1473px 1532px #FFF , 727px 776px #FFF , 715px 2230px #FFF , 275px 1804px #FFF , 1667px 1483px #FFF , 2334px 1585px #FFF , 1412px 2266px #FFF , 2335px 646px #FFF , 2429px 1008px #FFF , 800px 1378px #FFF , 294px 2239px #FFF , 394px 976px #FFF , 964px 606px #FFF , 507px 1729px #FFF , 1650px 2287px #FFF , 549px 1511px #FFF , 2268px 1436px #FFF , 561px 310px #FFF , 328px 2426px #FFF , 1484px 956px #FFF , 2270px 1333px #FFF , 553px 2354px #FFF , 2359px 358px #FFF , 538px 823px #FFF , 2177px 2072px #FFF , 1934px 377px #FFF , 2334px 802px #FFF , 2185px 2323px #FFF , 1199px 756px #FFF , 2382px 2343px #FFF , 2546px 440px #FFF , 618px 1475px #FFF , 1818px 2083px #FFF , 1259px 616px #FFF , 2458px 861px #FFF , 1320px 53px #FFF , 1652px 2395px #FFF , 163px 2407px #FFF , 2309px 880px #FFF , 2522px 1074px #FFF , 1013px 228px #FFF , 66px 1931px #FFF , 503px 1188px #FFF , 1085px 1137px #FFF , 1486px 663px #FFF , 2013px 272px #FFF , 575px 2225px #FFF , 2522px 1637px #FFF , 2067px 2105px #FFF , 598px 2556px #FFF , 2484px 2525px #FFF , 1072px 560px #FFF , 1934px 777px #FFF , 2546px 1933px #FFF , 1657px 856px #FFF , 1721px 281px #FFF , 2093px 391px #FFF , 2338px 677px #FFF , 1552px 1627px #FFF , 2179px 465px #FFF , 2066px 1946px #FFF , 2158px 2544px #FFF , 1521px 1975px #FFF , 1025px 1036px #FFF , 2402px 1071px #FFF , 1016px 708px #FFF , 2513px 810px #FFF , 59px 2407px #FFF , 447px 2381px #FFF , 2173px 1901px #FFF , 1205px 593px #FFF , 586px 549px #FFF , 392px 146px #FFF , 938px 1268px #FFF , 227px 215px #FFF , 1784px 1297px #FFF , 1182px 2441px #FFF , 2307px 233px #FFF , 1356px 2153px #FFF , 1936px 272px #FFF , 1720px 435px #FFF , 562px 2175px #FFF , 747px 2214px #FFF , 231px 1578px #FFF , 260px 1350px #FFF , 1408px 450px #FFF , 1683px 70px #FFF , 435px 1677px #FFF , 1063px 1852px #FFF , 2352px 2481px #FFF , 2458px 764px #FFF , 301px 2131px #FFF , 1587px 302px #FFF , 2314px 2156px #FFF , 1275px 702px #FFF , 2177px 929px #FFF , 442px 553px #FFF , 1667px 2177px #FFF , 1294px 1182px #FFF , 144px 2364px #FFF , 1070px 50px #FFF , 860px 422px #FFF , 1806px 1969px #FFF , 156px 1560px #FFF , 2050px 2050px #FFF , 2096px 1107px #FFF , 904px 638px #FFF , 137px 2041px #FFF , 891px 2485px #FFF , 1175px 1894px #FFF , 1295px 1410px #FFF , 686px 442px #FFF , 1476px 1097px #FFF , 46px 28px #FFF , 2343px 2555px #FFF , 2029px 1412px #FFF , 2256px 924px #FFF , 918px 1889px #FFF , 692px 2198px #FFF , 2460px 2207px #FFF , 2012px 2328px #FFF , 1464px 432px #FFF , 1223px 2429px #FFF , 1943px 4px #FFF , 2055px 954px #FFF , 1244px 235px #FFF , 100px 1294px #FFF , 219px 1885px #FFF , 2011px 23px #FFF , 2089px 538px #FFF , 2115px 1877px #FFF , 1352px 1973px #FFF , 239px 2217px #FFF , 2283px 1533px #FFF , 1467px 2556px #FFF , 949px 1556px #FFF , 318px 2053px #FFF , 2441px 2271px #FFF , 114px 888px #FFF , 1133px 2520px #FFF , 790px 490px #FFF , 381px 896px #FFF , 2176px 871px #FFF , 2384px 1469px #FFF , 1623px 1483px #FFF , 312px 1253px #FFF , 1777px 883px #FFF , 2522px 2491px #FFF , 609px 231px #FFF , 1852px 1099px #FFF , 2129px 2403px #FFF , 25px 1198px #FFF , 445px 685px #FFF , 447px 1561px #FFF , 1625px 1617px #FFF , 1121px 2055px #FFF , 267px 1523px #FFF , 2451px 2336px #FFF , 465px 1807px #FFF , 1415px 820px #FFF , 1254px 597px #FFF , 2180px 1251px #FFF , 2249px 501px #FFF , 842px 1034px #FFF , 1007px 1681px #FFF , 1787px 2045px #FFF , 370px 1277px #FFF , 1192px 1598px #FFF , 2224px 357px #FFF , 1644px 1663px #FFF , 1046px 247px #FFF , 2163px 2053px #FFF , 2348px 877px #FFF , 32px 2182px #FFF , 1381px 1809px #FFF , 2225px 86px #FFF , 667px 2391px #FFF , 135px 38px #FFF , 545px 747px #FFF , 746px 2530px #FFF , 392px 633px #FFF , 116px 415px #FFF , 366px 1211px #FFF , 425px 355px #FFF , 652px 695px #FFF , 458px 796px #FFF , 1211px 1859px #FFF , 1640px 2341px #FFF , 348px 17px #FFF , 738px 1427px #FFF , 382px 2356px #FFF , 2100px 330px #FFF , 1476px 549px #FFF , 507px 1614px #FFF , 2436px 1705px #FFF , 1458px 121px #FFF , 493px 670px #FFF , 398px 917px #FFF , 1951px 2357px #FFF , 2385px 1848px #FFF , 664px 675px #FFF , 2504px 1292px #FFF , 272px 905px #FFF , 342px 429px #FFF , 559px 1867px #FFF , 2141px 566px #FFF , 1183px 2448px #FFF , 878px 677px #FFF , 2379px 1162px #FFF , 708px 1198px #FFF , 1171px 230px #FFF , 1375px 2001px #FFF , 121px 341px #FFF , 2106px 931px #FFF , 1611px 2202px #FFF , 280px 563px #FFF , 1541px 1699px #FFF , 198px 505px #FFF , 965px 1361px #FFF , 408px 2303px #FFF , 566px 2397px #FFF , 1461px 1800px #FFF , 2036px 171px #FFF , 342px 285px #FFF , 689px 1123px #FFF , 2455px 2479px #FFF , 1223px 2042px #FFF , 64px 567px #FFF , 2300px 488px #FFF , 2369px 2313px #FFF , 105px 2003px #FFF , 836px 419px #FFF , 777px 87px #FFF , 1738px 749px #FFF , 2375px 1561px #FFF , 911px 433px #FFF , 2521px 1296px #FFF , 1369px 629px #FFF , 833px 1000px #FFF , 1605px 2102px #FFF , 199px 1999px #FFF , 189px 980px #FFF , 97px 2016px #FFF , 497px 2536px #FFF , 243px 1657px #FFF , 1219px 1553px #FFF , 2132px 2158px #FFF , 883px 1115px #FFF , 915px 604px #FFF , 2367px 974px #FFF , 557px 2243px #FFF , 782px 88px #FFF , 311px 1367px #FFF , 1329px 701px #FFF , 369px 2545px #FFF , 1278px 155px #FFF , 1065px 287px #FFF , 1560px 1088px #FFF , 2242px 1076px #FFF , 142px 1984px #FFF , 608px 1485px #FFF , 1065px 169px #FFF , 1014px 668px #FFF , 1266px 1546px #FFF , 594px 1400px #FFF , 1891px 1743px #FFF , 579px 853px #FFF , 1488px 970px #FFF , 276px 592px #FFF , 1095px 2375px #FFF , 283px 1695px #FFF , 2277px 494px #FFF , 2038px 187px #FFF , 1496px 1839px #FFF , 751px 1519px #FFF , 2309px 447px #FFF , 107px 78px #FFF , 820px 988px #FFF , 916px 1618px #FFF , 21px 2135px #FFF , 1060px 950px #FFF , 1021px 1594px #FFF , 1662px 1386px #FFF , 1035px 2084px #FFF , 2044px 1795px #FFF , 889px 336px #FFF , 1468px 975px #FFF , 2044px 2137px #FFF , 303px 1170px #FFF , 795px 775px #FFF , 2157px 849px #FFF , 541px 2315px #FFF , 1177px 1282px #FFF , 1419px 214px #FFF , 1090px 881px #FFF , 634px 676px #FFF , 2315px 2444px #FFF , 1804px 1067px #FFF , 1717px 2409px #FFF , 1272px 614px #FFF , 1686px 113px #FFF , 597px 186px #FFF , 2538px 125px #FFF , 467px 1323px #FFF , 418px 1045px #FFF;
  animation: animStar 125s linear infinite;
}
.page-wrapper::after:after {
  content: " ";
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 376px 713px #FFF , 936px 1730px #FFF , 2125px 1851px #FFF , 816px 14px #FFF , 1210px 2327px #FFF , 1642px 809px #FFF , 86px 2455px #FFF , 1364px 86px #FFF , 488px 901px #FFF , 1389px 1703px #FFF , 1114px 1920px #FFF , 481px 775px #FFF , 2465px 1179px #FFF , 1255px 1675px #FFF , 1517px 1406px #FFF , 503px 34px #FFF , 1172px 1180px #FFF , 1366px 618px #FFF , 682px 2153px #FFF , 2045px 1430px #FFF , 1561px 1698px #FFF , 65px 628px #FFF , 929px 1412px #FFF , 482px 79px #FFF , 1704px 1631px #FFF , 1341px 1299px #FFF , 2320px 2279px #FFF , 131px 1457px #FFF , 569px 1430px #FFF , 979px 593px #FFF , 1191px 727px #FFF , 2392px 882px #FFF , 1525px 1634px #FFF , 1261px 272px #FFF , 1430px 92px #FFF , 839px 1568px #FFF , 1472px 447px #FFF , 826px 775px #FFF , 1043px 1806px #FFF , 299px 431px #FFF , 798px 59px #FFF , 136px 1276px #FFF , 203px 1890px #FFF , 1660px 1015px #FFF , 2023px 619px #FFF , 532px 420px #FFF , 2177px 1270px #FFF , 873px 2305px #FFF , 38px 948px #FFF , 1379px 663px #FFF , 1036px 1582px #FFF , 2035px 1609px #FFF , 458px 736px #FFF , 2109px 602px #FFF , 670px 1249px #FFF , 1021px 1622px #FFF , 1215px 2438px #FFF , 755px 927px #FFF , 2343px 564px #FFF , 1121px 1214px #FFF , 1751px 324px #FFF , 2220px 1121px #FFF , 1517px 626px #FFF , 1561px 16px #FFF , 1081px 2542px #FFF , 368px 891px #FFF , 1319px 2141px #FFF , 207px 51px #FFF , 1649px 1492px #FFF , 2234px 329px #FFF , 946px 302px #FFF , 2034px 286px #FFF , 799px 439px #FFF , 256px 161px #FFF , 768px 537px #FFF , 407px 718px #FFF , 2435px 1790px #FFF , 854px 158px #FFF , 2514px 857px #FFF , 957px 2041px #FFF , 1148px 488px #FFF , 2338px 444px #FFF , 901px 2092px #FFF , 1060px 1798px #FFF , 1849px 890px #FFF , 413px 1150px #FFF , 1470px 1866px #FFF , 1552px 1540px #FFF , 1901px 784px #FFF , 2395px 1224px #FFF , 557px 1291px #FFF , 979px 332px #FFF , 1526px 1195px #FFF , 720px 1638px #FFF , 987px 2348px #FFF , 1738px 2434px #FFF , 266px 1222px #FFF , 2554px 716px #FFF , 372px 57px #FFF , 313px 1157px #FFF , 1851px 1941px #FFF , 463px 835px #FFF , 156px 1538px #FFF , 769px 1262px #FFF , 2326px 480px #FFF , 2149px 2200px #FFF , 1833px 229px #FFF , 1465px 668px #FFF , 1941px 1436px #FFF , 997px 1932px #FFF , 1286px 2480px #FFF , 1727px 2233px #FFF , 584px 1490px #FFF , 441px 476px #FFF , 2490px 2428px #FFF , 1224px 1768px #FFF , 1991px 2239px #FFF , 987px 1543px #FFF , 1189px 2486px #FFF , 1252px 860px #FFF , 116px 1541px #FFF , 963px 611px #FFF , 2110px 2163px #FFF , 165px 1632px #FFF , 188px 1966px #FFF , 2351px 2446px #FFF , 1313px 691px #FFF , 1934px 2208px #FFF , 1006px 30px #FFF , 586px 2279px #FFF , 2525px 1978px #FFF , 1671px 731px #FFF , 109px 740px #FFF , 1542px 871px #FFF , 1955px 1967px #FFF , 1210px 2183px #FFF , 2225px 822px #FFF , 1405px 189px #FFF , 1962px 710px #FFF , 686px 1033px #FFF , 280px 777px #FFF , 1812px 601px #FFF , 384px 1948px #FFF , 1297px 1718px #FFF , 1563px 1705px #FFF , 617px 2015px #FFF , 2315px 9px #FFF , 1287px 257px #FFF , 277px 118px #FFF , 1618px 743px #FFF , 1399px 1794px #FFF , 864px 223px #FFF , 1759px 1539px #FFF , 1484px 1606px #FFF , 991px 2066px #FFF , 591px 1855px #FFF , 1706px 1642px #FFF , 2501px 700px #FFF , 757px 4px #FFF , 718px 1548px #FFF , 127px 2224px #FFF , 1581px 1271px #FFF , 91px 2274px #FFF , 839px 1329px #FFF , 1729px 1969px #FFF , 2352px 1562px #FFF , 2262px 829px #FFF , 1739px 1253px #FFF , 2511px 957px #FFF , 126px 201px #FFF , 718px 1488px #FFF , 1500px 2144px #FFF , 2255px 46px #FFF , 1054px 16px #FFF , 2241px 109px #FFF , 932px 1034px #FFF , 1124px 833px #FFF , 2241px 2556px #FFF , 788px 194px #FFF , 2488px 235px #FFF , 2149px 1534px #FFF , 353px 2069px #FFF , 784px 629px #FFF , 2469px 652px #FFF , 870px 175px #FFF , 1849px 400px #FFF , 535px 1708px #FFF , 1093px 844px #FFF , 599px 459px #FFF , 2397px 824px #FFF , 2336px 1109px #FFF , 1514px 2093px #FFF , 1725px 1015px #FFF , 2462px 107px #FFF , 652px 1806px #FFF , 1388px 332px #FFF , 1517px 2004px #FFF , 464px 1469px #FFF , 2214px 1418px #FFF , 2321px 182px #FFF , 1903px 2149px #FFF , 306px 2318px #FFF , 1630px 333px #FFF , 452px 1223px #FFF , 267px 2263px #FFF , 913px 1447px #FFF , 2473px 595px #FFF , 2554px 570px #FFF , 1036px 473px #FFF , 2438px 2456px #FFF , 480px 646px #FFF , 1685px 2311px #FFF , 553px 221px #FFF , 145px 1487px #FFF , 2212px 1932px #FFF , 753px 1686px #FFF , 14px 1808px #FFF , 50px 446px #FFF , 459px 261px #FFF , 1981px 1833px #FFF , 789px 2270px #FFF , 2031px 1443px #FFF , 192px 1814px #FFF , 751px 1164px #FFF , 45px 2382px #FFF , 726px 2395px #FFF , 1212px 1516px #FFF , 1023px 79px #FFF , 793px 959px #FFF , 191px 1797px #FFF , 588px 1896px #FFF , 1136px 1885px #FFF , 1660px 1171px #FFF , 1109px 4px #FFF , 185px 1752px #FFF , 1924px 1469px #FFF , 963px 46px #FFF , 1026px 1895px #FFF , 2545px 161px #FFF , 521px 1610px #FFF , 954px 416px #FFF , 2164px 461px #FFF , 2284px 1939px #FFF , 2143px 82px #FFF , 2193px 594px #FFF , 1462px 864px #FFF , 659px 2368px #FFF , 330px 1699px #FFF , 2174px 562px #FFF , 178px 381px #FFF , 581px 1831px #FFF , 999px 2213px #FFF , 2541px 251px #FFF , 1206px 1433px #FFF , 1303px 948px #FFF , 730px 576px #FFF , 2220px 2269px #FFF , 647px 441px #FFF , 2125px 1613px #FFF , 395px 499px #FFF , 1009px 1662px #FFF , 1004px 738px #FFF , 2257px 1224px #FFF , 2064px 1571px #FFF , 855px 2115px #FFF , 933px 1039px #FFF , 1849px 1201px #FFF , 2374px 2492px #FFF , 2023px 577px #FFF , 2242px 1375px #FFF , 1841px 322px #FFF , 408px 495px #FFF , 1710px 615px #FFF , 1507px 1062px #FFF , 1014px 2300px #FFF , 2447px 2011px #FFF , 188px 210px #FFF , 2154px 740px #FFF , 1342px 560px #FFF , 2213px 586px #FFF , 1300px 1313px #FFF , 1681px 271px #FFF , 467px 1408px #FFF , 1833px 2235px #FFF , 538px 135px #FFF , 739px 1039px #FFF , 1113px 694px #FFF , 1747px 1417px #FFF , 549px 440px #FFF , 1299px 1953px #FFF , 1260px 12px #FFF , 1487px 1224px #FFF , 2384px 409px #FFF , 1396px 1582px #FFF , 627px 1629px #FFF , 2360px 555px #FFF , 2093px 757px #FFF , 888px 115px #FFF , 782px 312px #FFF , 2095px 97px #FFF , 1502px 82px #FFF , 1166px 433px #FFF , 1516px 146px #FFF , 2451px 2467px #FFF , 1812px 1920px #FFF , 2398px 884px #FFF , 92px 336px #FFF , 1567px 1446px #FFF , 2393px 468px #FFF , 73px 2139px #FFF , 155px 754px #FFF , 2496px 1045px #FFF , 1447px 1236px #FFF , 1423px 1585px #FFF , 2280px 312px #FFF , 1075px 2404px #FFF , 1341px 500px #FFF , 154px 2135px #FFF , 2220px 1981px #FFF , 1115px 2375px #FFF , 203px 803px #FFF , 185px 289px #FFF , 2330px 213px #FFF , 2011px 1872px #FFF , 1278px 331px #FFF , 153px 1106px #FFF , 559px 2000px #FFF , 295px 1731px #FFF , 1969px 1467px #FFF , 654px 804px #FFF , 1763px 130px #FFF , 932px 805px #FFF , 854px 1770px #FFF , 486px 2191px #FFF , 842px 2111px #FFF , 1151px 663px #FFF , 1359px 1025px #FFF , 2227px 1574px #FFF , 538px 1050px #FFF , 89px 2321px #FFF , 1500px 1760px #FFF , 2285px 2537px #FFF , 607px 1980px #FFF , 725px 1268px #FFF , 1492px 1292px #FFF , 896px 2287px #FFF , 2371px 2231px #FFF , 803px 1314px #FFF , 2487px 289px #FFF , 1378px 969px #FFF , 2465px 2284px #FFF , 550px 2239px #FFF , 1376px 1247px #FFF , 493px 123px #FFF , 276px 363px #FFF , 1531px 1242px #FFF , 2074px 1321px #FFF , 852px 2074px #FFF , 325px 1546px #FFF , 2229px 1014px #FFF , 1001px 1418px #FFF , 568px 677px #FFF , 2022px 460px #FFF , 2227px 2214px #FFF , 731px 196px #FFF , 1014px 1473px #FFF , 883px 1549px #FFF , 600px 672px #FFF , 180px 1754px #FFF , 254px 811px #FFF , 553px 195px #FFF , 513px 2439px #FFF , 1657px 1896px #FFF , 1278px 2079px #FFF , 735px 2345px #FFF , 2382px 1199px #FFF , 82px 1491px #FFF , 216px 2306px #FFF , 1823px 1137px #FFF , 334px 768px #FFF , 1033px 2043px #FFF , 2297px 43px #FFF , 284px 2411px #FFF , 631px 940px #FFF , 2155px 682px #FFF , 2166px 1495px #FFF , 1248px 304px #FFF , 1849px 751px #FFF , 1469px 390px #FFF , 952px 2117px #FFF , 2035px 1927px #FFF , 1906px 1428px #FFF , 610px 747px #FFF , 989px 345px #FFF , 1373px 1812px #FFF , 413px 37px #FFF , 1480px 1265px #FFF , 2143px 2440px #FFF , 389px 2237px #FFF , 1911px 461px #FFF , 364px 1859px #FFF , 1130px 294px #FFF , 1455px 2492px #FFF , 2512px 145px #FFF , 1808px 1047px #FFF , 1291px 889px #FFF , 1246px 1178px #FFF , 999px 156px #FFF , 1135px 1433px #FFF , 210px 2171px #FFF , 558px 1313px #FFF , 1202px 2372px #FFF , 2155px 1594px #FFF , 1465px 591px #FFF , 16px 1033px #FFF , 8px 1181px #FFF , 1176px 1380px #FFF , 706px 1575px #FFF , 274px 1941px #FFF , 99px 1819px #FFF , 1145px 2511px #FFF , 2514px 1121px #FFF , 654px 2097px #FFF , 821px 178px #FFF , 2358px 107px #FFF , 1113px 1206px #FFF , 944px 1112px #FFF , 2506px 414px #FFF , 14px 2359px #FFF , 791px 1277px #FFF , 2087px 958px #FFF , 772px 120px #FFF , 1027px 2383px #FFF , 2176px 643px #FFF , 92px 1677px #FFF , 1618px 2051px #FFF , 80px 2100px #FFF , 341px 2372px #FFF , 1801px 443px #FFF , 2157px 2006px #FFF , 380px 185px #FFF , 2228px 2319px #FFF , 1287px 2191px #FFF , 617px 1216px #FFF , 532px 654px #FFF , 679px 376px #FFF , 2070px 586px #FFF , 397px 514px #FFF , 2417px 354px #FFF , 1853px 2045px #FFF , 656px 383px #FFF , 1940px 320px #FFF , 1549px 1664px #FFF , 2324px 2535px #FFF , 889px 2403px #FFF , 676px 2313px #FFF , 1901px 1016px #FFF , 431px 1487px #FFF , 461px 2431px #FFF , 1632px 2241px #FFF , 1459px 2510px #FFF , 315px 1340px #FFF , 419px 1922px #FFF , 2506px 1652px #FFF , 22px 1546px #FFF , 1729px 1412px #FFF , 1461px 2369px #FFF , 207px 952px #FFF , 1302px 529px #FFF , 6px 1651px #FFF , 2169px 189px #FFF , 1464px 1329px #FFF , 1662px 1228px #FFF , 2503px 393px #FFF , 955px 65px #FFF , 208px 668px #FFF , 1180px 1287px #FFF , 2082px 314px #FFF , 2030px 1091px #FFF , 154px 559px #FFF , 641px 1395px #FFF , 206px 845px #FFF , 265px 572px #FFF , 1513px 965px #FFF , 2038px 2110px #FFF , 274px 123px #FFF , 2357px 1258px #FFF , 2385px 2440px #FFF , 2234px 1754px #FFF , 214px 774px #FFF , 26px 1101px #FFF , 1772px 301px #FFF , 2451px 581px #FFF , 170px 359px #FFF , 2342px 818px #FFF , 653px 2041px #FFF , 1693px 785px #FFF , 575px 318px #FFF , 1422px 2014px #FFF , 2358px 2270px #FFF , 1319px 1082px #FFF , 1926px 836px #FFF , 1493px 1203px #FFF , 1641px 130px #FFF , 1255px 1373px #FFF , 2040px 1753px #FFF , 136px 753px #FFF , 495px 839px #FFF , 1109px 1155px #FFF , 1595px 1599px #FFF , 595px 2400px #FFF , 207px 1007px #FFF , 53px 2167px #FFF , 488px 431px #FFF , 1315px 35px #FFF , 2351px 1330px #FFF , 1150px 275px #FFF , 485px 442px #FFF , 1209px 828px #FFF , 872px 1311px #FFF , 1321px 2016px #FFF , 1254px 12px #FFF , 145px 377px #FFF , 446px 789px #FFF , 1051px 2148px #FFF , 1994px 287px #FFF , 1160px 401px #FFF , 1395px 1167px #FFF , 1825px 2049px #FFF , 1166px 1870px #FFF , 677px 527px #FFF , 1034px 503px #FFF , 2034px 1861px #FFF , 546px 1165px #FFF , 1390px 227px #FFF , 1846px 21px #FFF , 795px 2504px #FFF , 531px 1392px #FFF , 2530px 729px #FFF , 1218px 2155px #FFF , 1362px 991px #FFF , 2114px 1768px #FFF , 617px 250px #FFF , 2299px 732px #FFF , 1824px 1731px #FFF , 1509px 907px #FFF , 1045px 1800px #FFF , 1394px 1205px #FFF , 1104px 1241px #FFF , 1831px 647px #FFF , 2500px 356px #FFF , 1046px 690px #FFF , 1762px 1405px #FFF , 857px 1303px #FFF , 941px 700px #FFF , 2200px 1313px #FFF , 56px 464px #FFF , 1506px 762px #FFF , 1310px 1008px #FFF , 1741px 2057px #FFF , 957px 4px #FFF , 2146px 2488px #FFF , 1074px 2494px #FFF , 185px 260px #FFF , 1532px 531px #FFF , 2239px 1064px #FFF , 419px 1386px #FFF , 612px 138px #FFF , 2062px 88px #FFF , 349px 1301px #FFF , 1284px 1207px #FFF , 648px 1957px #FFF , 2242px 1679px #FFF , 976px 1759px #FFF , 888px 366px #FFF , 1459px 2534px #FFF , 550px 863px #FFF , 1644px 310px #FFF , 666px 1518px #FFF , 2512px 827px #FFF , 1835px 1870px #FFF , 2559px 861px #FFF , 1042px 883px #FFF , 1090px 144px #FFF , 171px 986px #FFF , 134px 2244px #FFF , 2130px 1552px #FFF , 49px 1514px #FFF , 134px 725px #FFF , 775px 1325px #FFF , 839px 223px #FFF , 2503px 1089px #FFF , 967px 2246px #FFF , 2338px 1385px #FFF , 2437px 357px #FFF , 214px 694px #FFF , 296px 2106px #FFF , 2557px 2344px #FFF , 2242px 960px #FFF , 2407px 946px #FFF , 2500px 314px #FFF , 2355px 1736px #FFF , 1422px 841px #FFF , 996px 1721px #FFF , 1371px 1681px #FFF , 1130px 1903px #FFF , 2509px 1098px #FFF , 2182px 2457px #FFF , 258px 761px #FFF , 901px 1942px #FFF , 1397px 2175px #FFF , 1276px 835px #FFF , 113px 1095px #FFF , 1671px 354px #FFF , 825px 2087px #FFF , 2343px 352px #FFF , 1523px 2097px #FFF , 1596px 1501px #FFF , 399px 117px #FFF , 2431px 79px #FFF , 1515px 2188px #FFF , 1157px 1440px #FFF , 1928px 918px #FFF , 2134px 1898px #FFF , 2535px 473px #FFF , 172px 2529px #FFF , 985px 703px #FFF , 262px 772px #FFF , 1707px 1201px #FFF , 96px 2500px #FFF , 2336px 2393px #FFF , 959px 537px #FFF , 2224px 1891px #FFF , 95px 1362px #FFF , 1960px 1168px #FFF , 1876px 249px #FFF , 614px 196px #FFF , 2094px 293px #FFF , 1758px 1987px #FFF , 1320px 4px #FFF , 1076px 1899px #FFF , 969px 2483px #FFF , 758px 702px #FFF , 1946px 818px #FFF , 1439px 258px #FFF , 1188px 2169px #FFF , 1181px 1720px #FFF , 687px 1986px #FFF , 108px 2084px #FFF , 1302px 460px #FFF , 194px 1563px #FFF , 1842px 795px #FFF , 2527px 791px #FFF , 2513px 1132px #FFF , 36px 2554px #FFF , 2040px 1149px #FFF , 590px 391px #FFF , 367px 1502px #FFF , 2540px 828px #FFF , 2069px 775px #FFF , 2357px 2298px #FFF , 161px 2200px #FFF , 159px 1249px #FFF , 1735px 1335px #FFF , 312px 2213px #FFF , 1109px 2457px #FFF , 1081px 1975px #FFF , 123px 1493px #FFF , 1218px 134px #FFF , 1255px 951px #FFF , 389px 1218px #FFF , 640px 1089px #FFF , 317px 439px #FFF , 1838px 878px #FFF , 2251px 389px #FFF , 1139px 482px #FFF , 1424px 1111px #FFF , 972px 1715px #FFF , 849px 337px #FFF , 812px 272px #FFF , 798px 830px #FFF , 1916px 1526px #FFF , 2171px 7px #FFF , 203px 1557px #FFF , 2065px 1250px #FFF , 159px 676px #FFF , 249px 2000px #FFF , 922px 1268px #FFF , 2397px 994px #FFF , 1272px 119px #FFF , 825px 2474px #FFF , 657px 491px #FFF , 663px 495px #FFF , 2410px 1835px #FFF , 1710px 1550px #FFF , 843px 2181px #FFF , 828px 1693px #FFF , 2034px 1455px #FFF , 610px 1853px #FFF , 158px 305px #FFF;
}

@media (min-width: 400px) {
  .page-wrapper {
    padding: 2em;
  }
}/*# sourceMappingURL=style.css.map */